

.margin {
    margin: 1rem;
}

.tituloDatosFamiliar{
    font-size: 2rem;
    text-align: center;
    text-decoration: underline 2px rgb(7, 7, 226);
}

body{
    font-family: 'Playfair Display', serif;
    background-color: black;
    color: white;
}

.colorTextCard{
    color: white;
}

.imgNube{
    width: 25px;
    height: 25px;
}

.espacioClima{
    margin-left: 15px;
}

.separador{
    width: 100%;
    margin-top: 10px;
    border-top: solid 2px white;
}